@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--breakpoint-*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
	--color-light-one: #f7f6e7;
	--color-light-one_d: #f7f6e7;
	--color-light-two: #ce7576;
	--color-light-two_d: #ce7576;
	--color-light-three: #b58b3a;
	--color-light-three_d: #b58b3a;
	--color-light-four: #cccccc;
	--color-light-four_d: #cccccc;
	--color-light-five: #a78d70;
	--color-light-five_d: #a78d70;
	--color-light-accent: #9dbe8c;
	--color-light-accent_d: #9dbe8c;
	--color-light-error: #fa3842;
	--color-light-success: #16a34a;
	--color-light-warning: #f59e0b;
	--color-light-black: #000000;

	--color-dark-one: #000000;
	--color-dark-one_d: #333333;
	--color-dark-two: #dad7d0;
	--color-dark-two_d: #e2e0da;
	--color-dark-three: #e9dec3;
	--color-dark-three_d: #e9dec3;
	--color-dark-four: #f3f4f6;
	--color-dark-four_d: #e5e7eb;
	--color-dark-accent: #9dbe8c;
	--color-dark-accent_d: #9dbe8c;
	--color-dark-error: #fa3842;
	--color-dark-success: #16a34a;
	--color-dark-warning: #f59e0b;
	--color-dark-black: #000000;

	--animate-wiggle: wiggle 1s ease-in-out infinite;

	--screen-dynamic: '100dvh';
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-3deg);
		}
		50% {
			transform: rotate(3deg);
		}
	}
}
html,
body {
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 8px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track, #f1f1f1);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb, #888);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover, #555);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
